
@media(min-width: 768px){
 
    .panel-default{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    }
    .panel-body{
    padding: 0px 15px 0px 15px;
    }

}

#countAllTitles{
    float: right;
    align-items: baseline;
    padding-right: 10%;
    padding-bottom: 2%;
}

.navbar-brand{
    padding-top: 12px;
}

.panel-heading{
    padding: 20px 15px 20px 15px;
}


.link-panel{
    float: right;
    padding: 5px;
}

.titulo-panel{
    float: left;
    padding-top: 8px;
}

.form-horizontal{
    margin-top: 20px;
}
