
@media(min-width: 768px){

    .panel-default{
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 50px;
    }
    .panel-body{
        padding: 0px 15px 0px 15px;
    }

}

#addCartao{
    float: right;
    padding: 3px;
}

#countAllTitles{
    float: right;
    align-items: baseline;
    padding-bottom: 8%;
}

#countAllPrice{
    display: flex;
    align-items: baseline;
}

#countAllStatus{
    float: left;
    padding-bottom: 20px;
}

.navbar-brand{
    padding-top: 12px;
}

.panel-heading{
    padding: 20px 15px 20px 15px;
}

.link-panel{
    float: right;
}

.titulo-panel{
    float: left;
    padding-top: 8px;
}

.form-horizontal{
    margin-top: 20px;
}
