!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <title>Cobrança</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    </head>
    <body>
        
        <header th:replace="cabecalho"></header>
        
        <section layout:fragment="conteudo">
            <p>Contéudo principal</p>
        </section>

        <script th:src="@{/js/jquery-3.6.0.min.js}"></script> 
        <script th:src="@{/js/bootstrap.min.js}"></script> 
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script> 
        <script th:src="@{/js/bootstrap.bundle.js}"></script> 
        <script th:src="@{/js/bootstrap-datepicker.min.js}"></script> 
        <script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script> 
        <script th:src="@{/js/jquery.maskMoney.min.js}"></script> 
        <script th:src="@{/js/cobranca.js}"></script> 
    </body>
</html>
