<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutPadrao}">
    <head>
        <title>Pesquisa de título</title>     
    </head>
    <section layout:fragment="conteudo">
        <div class="panel panel-default shadow p-3 mb-5 bg-white rounded">
            <div class="panel-heading">
                <div th:replace="mensagem"></div>
                <div class="clearfix">
                    <h5 class="panel-title titulo-panel">Pesquisa de títulos</h5>
                    <a class="btn btn-info link-panel" th:href="@{/titulos/new}">Adicionar título</a> 
                </div>
                    <a class="btn btn-outline-success" id="addCartao" th:href="@{/cartao/new}">Adicionar cartão</a> 
            </div>
            <div class="panel-body">
                <form method="GET" class="form-horizontal" th:action="@{/titulos/search}" th:object="${filtro}" id="search">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="Qual título vocẽ está procurando?"
                                       autofocus="autofocus" th:field="*{descricao}"></input>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container">
                    <div class="row" id="countAllTitles"> 
                        <h5>Total de títulos</h5>        
                        <h1><span th:text="${#lists.size(titulos)}" class="badge badge-dark text-white"></span></h1>
                    </div> 
                    <div class="row" id="countAllPrice">
                        <h5>Preço total</h5>
                        <h2><span th:text="${#numbers.formatDecimal(allPriceTitle, 1, 'POINT', 2, 'COMMA')}" class="badge rounded-pill bg-light text-dark" id="valorTotal"></span></h2>
                    </div> 
                    <div class="row" id="countAllStatus">
                        <button type="button" class="btn btn-light">
                            Título(s) pendente(s) <span th:text="${allStatusTitlePendente}" class="badge bg-warning"></span>
                        </button>
                        <button type="button" class="btn btn-light">
                            Título(s) recebido(s) <span th:text="${allStatusTitleRecebido}" class="badge bg-warning"></span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>                                
                                <th>Descrição</th>
                                <th class="text-center col-md-2">Data de vencimento</th>
                                <th class="text-center col-md-1">Cartao</th>
                                <th class="text-center col-md-2">Valor</th>
                                <th class="text-center col-md-">Status</th>
                                <th class="col-md-2"></th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="titulo : ${titulos}">                                
                                <td th:text="${titulo.descricao}"></td>
                                <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                                <td class="text-center">
                                    <h5>                                        
                                        <span class="badge badge-success" th:text="${titulo.cartao?.name}"></span>
                                    </h5>
                                </td>
                                <td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
                                <td class="text-center" th:attr="data-role=${titulo.codigo}">
                                    <span class="badge badge-pill" th:text="${titulo.status.descricao}" 
                                          th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}"></span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-link" th:href="@{'titulos/'+${titulo.codigo}}" style="color: #117a8b"
                                       rel="tooltip" title="Editar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-link" style="color: #a71d2a" data-toggle="modal"
                                       data-target="#confirmacaoExclusao" th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
                                       rel="tooltip" title="Excluir">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-link js-status" style="color: #117a8b" rel="tooltip" title="Mudar para recebido"
                                       th:if="${titulo.pendente}" th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}"
                                       th:attr="data-codigo=${titulo.codigo}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    </a>                                
                                </td>
                            </tr>
                        </tbody>
                        <div th:if="${#lists.isEmpty(titulos)}" class="alert alert-warning">
                            <h5 class="text-center" id="textIsEmpty">Título(s) <strong>não encontrado(os).</strong></h5>
                        </div>
                    </table>
                </div>
            </div> 
            <div th:replace="mensagemExclusao"></div>  
        </div>
    </section>
</html>
